<!-- category -->
<div class="fieldWrapper">
    {{ form.category.errors }}
    <label for="id_category">Category</label>
    {{ form.category }}
</div>
<!-- location -->
<div class="fieldWrapper">
    {{ form.location.errors }}
    <label for="id_name">Location</label>
    {{ form.location }}
</div>
<div class="row">
    <div class="col s12">
        <label for="equation">Polynomial Equation - f(x)</label>
        <input type ="text" id = "equation" name = "equation">
            </div>
</div>

<div class="row">
    <div class="col s12">
        <label for="domain">Domain of Equation</label>
        <input type = "text" id = "domain" name = "domain">
            </div>
</div>
